# GitPulse Environment Configuration

# Temporal Server Address (Default: localhost:7233)
TEMPORAL_ADDRESS=localhost:7233

# Database Connection URL
DATABASE_URL=postgresql+asyncpg://orchestrator:worldclass_password@db:5432/orchestrator_db

# Security
# 32-byte hex string for AES-256-GCM
ENCRYPTION_KEY=12345678901234567890123456789012
# JWT Secret key
JWT_SECRET=super-secret-key-change-me

# Debugging
DEBUG=true

GITHUB_CLIENT_ID="Ov23limhbbRSXPH91DSb" 
GITHUB_CLIENT_SECRET="c5197145027339028a4afea4b220d4d5ce25a1d3"
GITHUB_REDIRECT_URI="http://localhost:8000/api/auth/github/callback"